{namespace till.templates autoescape="strict"}

/**
 * Renders the application container.
 */
{template .container}
  <div class="{css till}">
    <div class="{css till-form}"></div>
    <div class="{css till-results}"></div>
  </div>
{/template}
